In [0]:
#1
for i in range(len(dftest['所在地'])):
  if dftest_location.iloc[i, 6] != None:
    print(i)
    
print(dftest.loc[3048, '所在地'])
print(dftest.loc[3154, '所在地'])
print(dftest.loc[14392, '所在地'])
print(dftest.loc[24731, '所在地'])

#

#

#

In [0]:
import pandas as pd

df = pd.DataFrame(['長野県北区滝野川４丁目', '岐阜県中央区光圓寺南２丁目21-2', '新潟県葛飾区笹野３丁目7-4'])
df.head()

                   0
0        長野県北区滝野川４丁目
1  岐阜県中央区光圓寺南２丁目21-2
2     新潟県葛飾区笹野３丁目7-4

In [0]:
dftemp = df[0]
dftemp = dftemp.str.extract('(.*県)(.*区)(.*目)(.*)', expand=True)
dftemp.head()

     0    1        2     3
0  長野県   北区   滝野川４丁目
1  岐阜県  中央区  光圓寺南２丁目  21-2
2  新潟県  葛飾区    笹野３丁目   7-4

In [0]:
import pandas as pd

df = pd.DataFrame(['神奈/川', '東/京', '/千葉県', '和歌山県'])
df.iloc[:,0] = df.iloc[:,0].str.replace('/', '', regex=False)
print(df)

      0
0   神奈川
1    東京
2   千葉県
3  和歌山県

In [0]:
import pandas as pd

df = pd.DataFrame([['[映画] 3000', '[遊園地] 6000', None], ['[居酒屋] 4000', '[パパイヤ] 2000', '[歌舞伎] 3000']])
df.head()

            0            1           2
0   [映画] 3000   [遊園地] 6000        None
1  [居酒屋] 4000  [パパイヤ] 2000  [歌舞伎] 3000